*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* 1. body */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* 2. header / navigation bar */ 
